<style>
body {
}

div.profilepic {
  position: relative;
  width: 150px;
  float: right;
  z-index: 1;
}

div.profilepic img {
  width: 100%;
  float: right;
}


.nav li {
  display: inline-block;
  width: 90px;
  background-color: black;
  color: rgb(31, 228, 228);
  align-content: center;
}

h1 {
  background-color: #313b96;
  color: azure;
} 

h2 {
    background-color: rgb(179, 179, 236);
  } 

</style>