<style>
body {
}

h1 {
  background-color: #313b96;
  color: azure;
} 

h2 {
    background-color: rgb(179, 179, 236);
  } 

div.photo {
    position: relative;
    widows: 150px;
    height: 200px;
}

img {
  image-orientation: from-image;
}

</style>